<div id="vue-header-hook" data-signedin="true" data-activetab="account"></div>

<div class="main-center">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <form action="/api/avatar/update" method="post" enctype="multipart/form-data" name="formforavatar" novalidate>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
    <div class="field form-group needs-validation">
      <label for="icon-input">プロフィール画像</label>
      <div class="custom-file">
        <input type="file" id="icon-input" name="avatar" accept="image/*" class="custom-file-input" required>
        <label for="icon-input" class="custom-file-label" id="field-for-icon-input">画像を選択してください</label>
        <div class="invalid-feedback">
          画像を選択してください
        </div>
      </div>
    </div>
    <div class="actions d-flex justify-content-center">
      <input type="submit" value="画像を更新する" class="btn btn-outline-primary">
    </div>
  </form>

  <hr>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, novalidate: true, enctype: "multipart/form-data" }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field form-group needs-validation">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>

    <div class="field form-group needs-validation">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
      <div class="invalid-feedback">
        無効な形式です
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field form-group needs-validation">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      <% if @minimum_password_length %>
        
        <em class="form-text text-muted"><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field form-group needs-validation">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="field form-group needs-validation">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", required: true %>
      <div class="invalid-feedback">
        現在のパスワードを入力してください
      </div>
    </div>

    <div class="actions d-flex justify-content-center">
      <%= f.submit "Update", class: "btn btn-outline-primary" %>
    </div>
  <% end %>

  <h3 class="mt-4">Cancel my account</h3>
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#accountDeleteModal">
    アカウントを消去する
  </button>
</div>

<div id="vue-footer-hook"></div>


<div
  class="modal fade wait-loading"
  id="accountDeleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="accountDeleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-danger text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="accountDeleteModalLabel">アカウント消去</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>本当にアカウントを消去しますか？消去する場合は、パスワードを入力してください。</p>
        <p>※この操作は取り消せません</p>
        <form method="post" action="/users" name="formfordelete" novalidate id="form-for-delete">
          <input type="hidden" name="_method" value="delete">
          <div class="field form-group needs-validation">
            <label for="password-for-delete">パスワード</label>
            <input
              type="password"
              name="user[current_password]"
              required
              id="password-for-delete"
              class="form-control"
            >
            <div class="invalid-feedback text-white">
              パスワードを入力してください
            </div>
          </div>
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">戻る</button>
        <button type="submit" class="btn btn-outline-warning" form="form-for-delete">消去する</button>
      </div>
    </div>
  </div>
</div>


<%= javascript_packs_with_chunks_tag 'application' %>
<%= javascript_packs_with_chunks_tag 'usersEdit' %>