<%= render partial: "partials/common_header" %>

<div class="main-center">
  とりあえずログアウトはここに。headerをerbとvueで共通化したあとにどうにかする<br/>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>

  <h2 class="mt-5">Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, novalidate: true }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field form-group needs-validation">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>

    <div class="field form-group">
      <label for="icon-input">プロフィール画像</label>
      <div class="position-relative">
        <div calss="custom-file">
          <input type="file" id="icon-input" accept="image/*" class="custom-file-input">
          <label for="icon-input" class="custom-file-label">画像を選択してください</label>
        </div>
      </div>
    </div>
    <input type="hidden" name="user[image]" value="" id="icon-to-send">

    <div class="field form-group needs-validation">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
      <div class="invalid-feedback">
        無効な形式です
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field form-group needs-validation">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      <% if @minimum_password_length %>
        
        <em class="form-text text-muted"><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field form-group needs-validation">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="field form-group needs-validation">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", required: true %>
      <div class="invalid-feedback">
        現在のパスワードを入力してください
      </div>
    </div>

    <div class="actions d-flex justify-content-center">
      <%= f.submit "Update", class: "btn btn-outline-primary" %>
    </div>
  <% end %>

  <h3 class="mt-4">Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>

  <%= link_to "Back", :back %>
</div>

<%= render partial: "partials/common_footer" %>

<%= javascript_pack_tag 'application' %>