<div id="vue-header-hook"></div>

<div class="main-center">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {novalidate: true}) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field form-group needs-validation">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class: "form-control", required: true, value: "" %>
       <div class="invalid-feedback">
        名前を入力してください
      </div>
    </div>

    <div class="field form-group">
      <label for="icon-input">プロフィール画像</label>
      <div class="custom-file">
        <input type="file" id="icon-input" name="user[avatar]" accept="image/*" class="custom-file-input">
        <label for="icon-input" class="custom-file-label">画像を選択してください</label>
      </div>
    </div>

    <div class="field form-group needs-validation">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email", class: "form-control", required: true %>
      <div class="invalid-feedback">
        無効な形式です
      </div>
    </div>

    <div class="field form-group needs-validation">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", required: true %>
      <div class="invalid-feedback">
        パスワードを入力してください
      </div>
    </div>

    <div class="field form-group needs-validation">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", required: true %>
      <div class="invalid-feedback">
        パスワードを入力してください
      </div>
    </div>

    <div class="actions d-flex justify-content-center my-4">
      <%= f.submit "Sign up", class: "btn btn-outline-primary" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>

<div id="vue-footer-hook"></div>

<%= javascript_packs_with_chunks_tag 'application' %>